html, body {
  margin: 0;
  padding: 0;
}

body{
    background-image: url("brand.jpg");
    background-size:cover;
    
    color: white;
}

.header ul {
  margin:20px;
}



ul li {
  width: 100px;
  text-align: center;
  border-radius: 5px;
}

.main img{
  margin: 10px;
}

.footer{
  color: #333;
}

.footer ul{
 
  list-style: none
}

.footer ul li{
 
display: inline;
margin-left: 25px;
}

