html, body {
  margin: 0;
  padding: 0;
}

.header{
    background-color: #333;
}

.header img{
    height: 70px;
    padding: 10px;
}

.header form{
    padding: 20px;

}

.header form input{
    background-color: #333;
    border:none;
    border-bottom: 1px solid white;
    color: white;
}

.header form input:active,
.header form input:hover{
    border-bottom:1px solid #1a77ff
}

.button:hover{
    border-bottom:1px solid #1a77ff;
    background-color: #1a77ff;
}

.menu{
    background-color: #333;
    color: white;
}


.menu ul li{
    display: inline-block;
}

.menu ul.nav li:hover, .menu ul.nav .active a {
    background: #1a77ff;
    color: black;
}


.subheader{
    font-size: medium;
}

.main{
    background-image: url("bass-bg.jpg");
    background-size: cover;
    color: white;
    padding-top: 50px;
    height: 500px;
}


.supporting .sidebar{
    background-color: #152230;
    color: white;
    padding: 10px;
}

.supporting{
    background-color: #f2f2f2;
    padding: 40px;
}

.supporting .col-md-8{
    background-color: white;
    padding: 10px;
    
}

.supporting ul{
    list-style: none;
}

.supporting h4 span{
    border-bottom: 2px solid blue;
}