html, body {
  margin: 0;
  padding: 0;
}

body{
    background-color: black;
    color: white;
}
.jumbotron{
    background-color: black;
    background-image: url(bg.jpg);
    background-size: cover;
    margin-bottom: 0px;
}

.header img {
    height: 75px;
}

.header ul{
    list-style: none;
    
}

.header li{
    display: inline;
    font-size: medium;
    padding-left: 20px;
    
}

.header a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition-duration: .25s; /* Safari */
    transition-duration: .25s;
}

.header a:hover{
    color: #ff003d;
}

.button{
    padding: 10px 20px;
    background-color: #ff003d;
}

.header .button:hover{
    color: black;
    
}

.main{
    padding: 100px 0 200px 0;
}



.supporting{

    padding: 60px;

}

.downloads{
        text-align: center;
        background-image: url("feature.jpg");
        background-size: cover;
        padding: 200px 0;
}

.footer{
    padding: 30px 0;    
}

.footer ul{
    list-style: none;
    padding-left: 0;
    color: #888;
}