html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

body{
    background: url(milford.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: gray;

}
.container {
  max-width:940px;
}

/* Header */
.header {
  padding: 15px 10px;
  background-color: rgba(0,0,0,.5)
  
}
.header li{
    color: white;
    margin-left: 10px;

}



.logo{
    height: 40px;
    display: inline;
}

.nav{
  display: inline-block;
}

.nav li {
  display: inline-block
}

/* Jumbotron */
.jumbotron {
  position: relative;
  top: 50px;
  text-shadow: 2px -3px 5px rgba(0,0,0,.7);
  background-color: transparent;
  text-align: center;
}

.jumbotron h1{
  color: white;
}

/* Supporting */
.supporting {
  margin-top: 40px;
  text-shadow: 3px -3px 3px rgba(0,0,0,.8);
  text-align: center
}

.supporting img{
  height: 150px;
}

.supporting h2,
.supporting p{
  color: white;
  
}

.join{
  height: 200px;
  padding-top: 100px;
  text-align: center;
  
}

.join a {
  padding: 10px 50px;
  background-color: rgba(0,255,188,0.8);
  color: white;
    border:none;
}

.join a :hover,
.btn-default:hover{
  padding: 10px 50px;
  background-color: rgba(0,0,0,0.7);
  color: white;
  border:none;
}

