html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

body{
    background-image: url("1milford.jpg");
    background-size: cover;
    background-color: gray;
}
.container {
  max-width:940px;
}

/* Header */
.header {
  padding: 15px 10px;
  background-color: rgba(0,0,0,.5)
  
}
.header li{
    color: white;
    margin-left: 10px;

}



.logo{
    height: 40px;
    display: inline;
}

.nav{
  display: inline-block;
}

.nav li {
  display: inline-block
}

/* Jumbotron */
.jumbotron {
  position: relative;
  top: 50px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  background-color: transparent;
}

/* Supporting */
.supporting {
  margin-top: 40px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}