html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;    
}


body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/rose.jpg");
    background-size: cover;
}
.page{
    background-color: transparent;
    margin: 0;
}

.page a, .page h1{
   
    color: white;
    
}

.header li{
    display:inline-block;
}

.header .active {
    color: black;
    background-color: azure;
}

.header li a:hover {
    color: black;
    background-color: white;
}

.main{
    padding: 200px 0;
    color: white;
    text-align: center;
}

pre{
   background-color: rgba(255,255,255,0.5);
   border:none;
}

.project{
    text-decoration: none;
    transition-duration: .5s;
}

.project :hover{
    color: azure;
}