html, body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.nav li a {
    color: darkslategrey;
}



.jumbotron {
  background-color: transparent;
  padding: 150px 0;
background: rgba(210,255,82,1);
background: -moz-linear-gradient(-45deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    
}

.highlight{
    color: #ffc200;
}

.banner{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.cards{
    background-color: #ffc200;
    text-align: center;
    padding: 50px 0;
}

.cards h1{
    padding-bottom: 20px;
}

.cards img{
    padding-bottom: 30px;
}


.footer{
    background-color: #333;
    color: white;
    padding: 40px ;
}

.footer img {
    height: 32px;
    padding-right: 8px;
}


@media (max-width: 992px) {
  .col-md-4 {
    margin: 0 auto 0;
    text-align: center;
    width: 100%;
  }
  .cards img {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .header h1 {
    text-align: center;
  }

  .nav li {
    text-align: center;
    width: 100%;
  }

  .cards img {
    width: 100%;
  }
}