html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 940px;
}

body{
    background-color: black;
    background-image: url("bg.jpg");
    background-size: cover;
}


.header{
    text-align: center;
    padding: 30px 0 20px 0;
}
.header img{
    width: 50px;
}

.header container{
    border-bottom: 1px solid white;
}