html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 500px) {
  ul li {
    width: 100%;
  }
}
.header{
    background-color: #30627E;
}

.logo{
    background-color: #e52364;
    height: 90px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav{
   padding: 15px;
   
}

.nav li {
    display: inline;
    color: white;
    font-size: 20px;
    padding : 25px 10px;
}

.jumbotron{
    background: url(bestfriend.jpg) center;
    background-size: cover;
    height: 600px;
    text-align: center;
}

.jumbotron h1{
    color: #e52364;
    font-weight: bold;
}

.supporting{
    text-align: center;
    height: 300px;
}

.supporting a {
    padding: 10px 60px;
    margin: 10px;
    border: 1px solid #30627E;
    text-decoration: none
}