html, body {
  font-family: "Oxygen", sans-serif; 
  font-weight: 300; 
  margin: 0;
  padding: 0;
  background-color: #223;
}

.container {
  max-width: 970px;
}

.jumbotron{
    background-color: transparent;
    background-image: url("feature.jpg");
}

.jumbotron img{
    height: 40px;
    
}

.jumbotron h1{
    color: white;
    padding: 150px 0 70px 0;
}

.jumbotron a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.jumbotron .highlight,
.main .highlight
{
    border-color: #0393FF;
    color: #0393FF;

}

.jumbotron .highlight:hover,
.main .highlight:hover{
    background-color: #0393FF;
    color: white;
    
}

.main{
    text-align: center;
}

.form-inline{
        margin: 100px 0 200px 0;
}

#search{
    background-color: transparent;
    border-style: none none solid none;
    border-radius: 0;
    width: 400px;

}

.form-control:focus{
    color:  white;
}

.supporting {
    padding-top: 20px;
  background-image: url(s3.amazonaws.com/codecademy-content/projects/bolt-network/diagmonds_@2X.png);
  background-size: 141px 142px;
  text-align: center;
}

.supporting .row{
    margin-top: 25px;
}

p{
    color: white;
    font-size: medium;
}

h2{
    color: #0393FF;
}

.feature{
    background-image: url("feature.jpg");
    height: 400px;
    background-size: cover;
    padding-top: 200px;
    text-align: center;
}

.footer li, ul{
    color: #0393FF;
    list-style: none;
    padding-left: 0;
}