html, body {
  font-family: "Oxygen", sans-serif; 
  font-weight: 300; 
  margin: 0;
  padding: 0;
  background-color: #223;
}

.container {
  max-width: 970px;
}

.jumbotron{
    background-color: transparent;
}

.jumbotron img{
    height: 40px;
    
}

.jumbotron h1{
    color: white;
    padding-bottom: 30px;
}

.jumbotron a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.jumbotron .highlight,
.main .highlight
{
    border-color: #0393FF;
    color: #0393FF;

}

.jumbotron .highlight:hover,
.main .highlight:hover{
    background-color: #0393FF;
    color: white;
    
}

.main{
    text-align: center;
}

.form-inline{
        margin-top: 60px;
}

#search{
    background-color: transparent;
    border-style: none none solid none;
    border-radius: 0;
    width: 400px;

}

.form-control:focus{
    color:  white;
}

.supporting {
  background-image: url(s3.amazonaws.com/codecademy-content/projects/bolt-network/diagmonds_@2X.png);
  background-size: 141px 142px;
}